beautifulsoup4==4.7.1
cachetools==3.1.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.1.1
flask-peewee==3.0.3
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
future==0.17.1
greenlet==0.4.15
gunicorn==19.9.0
httplib2==0.19.0
idna==2.8
importlib-metadata==0.18
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.1
lxml==4.3.4
MarkupSafe==1.1.1
numpy==1.16.4
oauthlib==3.0.1
pluggy==0.12.0
psycopg2==2.7.7
psycopg2-binary==2.7.7
pyasn1==0.4.5
pyasn1-modules==0.2.5
PySocks==1.6.8
python-jsonrpc-server==0.2.0
python-language-server==0.28.0
redis==3.2.1
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
soupsieve==1.9.2
typed-ast==1.4.0
update-checker==0.16
uritemplate==3.0.0
urllib3==1.24.1
websocket-client==0.56.0
websockets==7.0
Werkzeug==0.15.5
wrapt==1.11.2
wsaccel==0.6.2
wtf-peewee==3.0.0
WTForms==2.2.1
Flask-SocketIO==4.1.0
python-engineio==3.8.2.post1
python-socketio==4.2.0
dnspython==1.16.0
eventlet==0.25.0
monotonic==1.5
pypay==0.2.1
flask-login==0.4.1
gevent==1.4.0
heroku3==3.4.0
python-dateutil==2.8.0
simplejson==3.3.1